{"openapi":"3.1.0","info":{"title":"Oviond Backend API","version":"1.0.0","description":"Authentication, account management, billing, and media services for Oviond.","x-logo":{"url":"https://app.oviond.com/img/oviond-full-logo.svg","altText":"Oviond"}},"servers":[{"url":"https://api.oviond.com","description":"Production"}],"security":[{"BearerAuth":[]}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"OnboardingResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"account_id":{"type":"string","example":"ov:26abc123def456789"},"user_id":{"type":"string","example":"qLKxyz..."},"theme_id":{"type":"string","example":"aB3..."},"client_id":{"type":"string","example":"cD4..."},"project_id":{"type":"string","nullable":true,"example":"pR5..."},"onboarded":{"type":"boolean","description":"true if this call created the account; false if the user was already onboarded","example":true}},"required":["account_id","user_id","theme_id","client_id","project_id","onboarded"]}},"required":["success","data"]},"Currency":{"type":"object","properties":{"code":{"type":"string","example":"USD"},"symbol":{"type":"string","example":"$"},"iso":{"type":"string","nullable":true,"example":"US"}},"required":["code","symbol"]},"OnboardingClient":{"type":"object","properties":{"name":{"type":"string","minLength":1},"website":{"type":"string","minLength":1},"currency":{"$ref":"#/components/schemas/Currency"},"timezone":{"type":"string","minLength":1},"manager":{"type":"string"}},"required":["name","website","currency","timezone"]},"OnboardingRequest":{"type":"object","properties":{"fullname":{"type":"string","minLength":1},"company_name":{"type":"string","minLength":1},"website":{"type":"string","minLength":1},"clients_size":{"type":"string","minLength":1},"client":{"$ref":"#/components/schemas/OnboardingClient"},"template_id":{"type":"string"}},"required":["fullname","company_name","website","clients_size","client"]},"TeamMember":{"type":"object","properties":{"id":{"type":"string","example":"abc123"},"account_id":{"type":"string","example":"ov:26AbCdEfGhIjKlMnOp"},"fullname":{"type":"string","example":"Jane Smith"},"email":{"type":"string","format":"email","example":"jane@example.com"},"email_verified":{"type":"boolean","example":true},"role":{"type":"string","example":"admin"},"avatar_url":{"type":"string","nullable":true,"example":"/img/profilePicture.jpg"},"clients":{"type":"array","nullable":true,"items":{"type":"string"},"example":[]},"language":{"type":"string","nullable":true,"example":"en"},"theme":{"type":"string","nullable":true,"example":"dark"},"created_at":{"type":"string","nullable":true,"example":"2024-01-01T00:00:00.000Z"}},"required":["id","account_id","fullname","email","email_verified","role"]},"MeResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/TeamMember"}},"required":["success","data"]},"SuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"]},"UpdateProfileRequest":{"type":"object","properties":{"fullname":{"type":"string","minLength":1,"example":"Jane Smith"},"language":{"type":"string","example":"en"},"theme":{"type":"string","enum":["light","dark","system"],"example":"dark"}}},"UpdateAvatarRequest":{"type":"object","properties":{"avatar_url":{"type":"string","example":"https://cdn.example.com/avatar.jpg"}},"required":["avatar_url"]},"ChangeEmailRequest":{"type":"object","properties":{"email_address":{"type":"string","format":"email","example":"new@example.com"}},"required":["email_address"]},"ListUsersResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/TeamMember"}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data","meta"]},"InviteUserResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"email":{"type":"string"}},"required":["email"]}},"required":["success","data"]},"InviteUserRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","example":"colleague@example.com"},"fullname":{"type":"string","minLength":1,"example":"John Doe"},"role":{"type":"string","enum":["admin","clients","readonly"],"example":"admin"},"clients":{"type":"array","items":{"type":"string"},"example":[]},"avatar_url":{"type":"string","description":"Optional starting avatar URL; defaults to a placeholder the user can replace."}},"required":["email","fullname","role"]},"EditUserRequest":{"type":"object","properties":{"fullname":{"type":"string","example":"John Doe"},"role":{"type":"string","enum":["admin","clients","readonly"],"example":"admin"},"clients":{"type":"array","items":{"type":"string"},"example":[]}}},"AccountResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{"nullable":true}}},"required":["success","data"]},"AccountUsageResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"CURRENT_PLAN":{"type":"object","properties":{"PLAN":{"type":"string"},"PLAN_ID":{"type":"string"},"PRICE":{"type":"number"},"PROJECTS":{"anyOf":[{"type":"number"},{"type":"string"}],"example":15},"USERS":{"anyOf":[{"type":"number"},{"type":"string"}],"example":"UNLIMITED"},"WHITE_LABEL":{"type":"boolean"},"CUSTOM_DOMAIN":{"type":"boolean"},"PDF":{"type":"boolean"},"AUTOMATIONS":{"type":"boolean"},"AGENCY_TOOLS":{"type":"boolean"},"EMAIL_SUPPORT":{"type":"boolean"},"LIVE_SUPPORT":{"type":"boolean"},"ACCOUNT_MANAGER":{"type":"boolean"}},"required":["PROJECTS","USERS"]},"USAGE":{"type":"object","properties":{"PROJECTS":{"type":"number","example":3},"USERS":{"type":"number","example":2}},"required":["PROJECTS","USERS"]}},"required":["CURRENT_PLAN","USAGE"]}},"required":["success","data"]},"DeleteAccountResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"message":{"type":"string"}},"required":["success","message"]},"DeleteAccountRequest":{"type":"object","properties":{"confirm_email":{"type":"string","minLength":1,"example":"jane@example.com"}},"required":["confirm_email"]},"AdminUserRow":{"type":"object","properties":{"id":{"type":"string"},"account_id":{"type":"string"},"email":{"type":"string"},"fullname":{"type":"string","nullable":true},"role":{"type":"string"},"avatar_url":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true},"billing":{"type":"object","nullable":true,"properties":{"status":{"type":"string","nullable":true},"subscription_status":{"type":"string","nullable":true},"plan_name":{"type":"string","nullable":true},"end_period":{"type":"string","nullable":true},"trial_end_date":{"type":"string","nullable":true},"lifetime":{"type":"boolean","nullable":true}}}},"required":["id","account_id","email","role","billing"]},"ListAdminUsersResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/AdminUserRow"}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data","meta"]},"AdminSuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"]},"ImpersonateRequest":{"type":"object","properties":{"account_id":{"type":"string","minLength":1,"example":"ov:26AbCdEfGhIjKlMnOp"}},"required":["account_id"],"additionalProperties":false},"AdminChangeEmailRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","example":"new@example.com"}},"required":["email"],"additionalProperties":false},"AdminStaffListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data","meta"]},"InviteStaffRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","example":"staff@oviond.com"},"fullname":{"type":"string","minLength":1,"example":"New Staff"}},"required":["email","fullname"],"additionalProperties":false},"CompanyResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{"nullable":true}}},"required":["success","data"]},"UpdateCompanyRequest":{"type":"object","properties":{"company_name":{"type":"string","example":"Acme Corp"},"timezone":{"type":"string","example":"America/New_York"},"website":{"type":"string","format":"uri","example":"https://acme.com"},"address":{"type":"string"},"state":{"type":"string"},"city":{"type":"string"},"zip":{"type":"string"},"country":{"type":"string"},"phone":{"type":"string"}},"required":["company_name","timezone","website"]},"DomainStatus":{"type":"string","enum":["pending","verifying","active","failed"]},"DnsProvider":{"type":"string","nullable":true,"enum":["cloudflare","godaddy","namecheap","route53","google","squarespace","unknown"]},"CustomDomain":{"type":"object","properties":{"id":{"type":"string"},"domain":{"type":"string"},"status":{"$ref":"#/components/schemas/DomainStatus"},"provider":{"$ref":"#/components/schemas/DnsProvider"},"is_default":{"type":"boolean"},"created_at":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"domain_records":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"}},"required":["type","name","value"]}},"vercel_verification":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"domain":{"type":"string"},"value":{"type":"string"}},"required":["type","domain","value"]}},"dns_records":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"}},"required":["type","name","value"]}}},"required":["id","domain","status"]},"CustomDomainsMeta":{"type":"object","properties":{"limit":{"type":"number","nullable":true},"used":{"type":"number"}},"required":["limit","used"]},"DomainsListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/CustomDomain"}},"meta":{"$ref":"#/components/schemas/CustomDomainsMeta"}},"required":["success","data","meta"]},"DomainResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/CustomDomain"}},"required":["success","data"]},"AddDomainRequest":{"type":"object","properties":{"domain":{"type":"string","minLength":1,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"}},"required":["domain"]},"CustomDomainsSuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"]},"UpdateBrandingRequest":{"type":"object","properties":{"app_title":{"type":"string"},"logo_url":{"type":"string"},"favicon_url":{"type":"string"},"brand_color":{"type":"string"},"brand_palette":{"type":"object","additionalProperties":{"nullable":true}}}},"Client":{"type":"object","properties":{"id":{"type":"string","example":"cliAbc123"},"account_id":{"type":"string","example":"ov:26AbCdEfGhIjKlMnOp"},"name":{"type":"string","example":"Acme Website"},"website":{"type":"string"},"timezone":{"type":"string"},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"nullable":true}]},"screenshot":{"type":"string","nullable":true},"logo_url":{"type":"string","nullable":true},"favicon_url":{"type":"string","nullable":true},"folders":{"type":"array","items":{"type":"string"}},"created_at":{"type":"string"},"updated_at":{"type":"string"},"is_deleted":{"type":"boolean"},"deleted_at":{"type":"string","nullable":true}},"required":["id","account_id","name"]},"ListClientsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Client"}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data","meta"]},"ClientCountResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"count":{"type":"number"}},"required":["count"]}},"required":["success","data"]},"BulkDeleteClientsRequest":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1,"example":["cliAbc123","cliDef456"]}},"required":["ids"]},"UpdateClientRequest":{"type":"object","properties":{"name":{"type":"string","example":"Acme Corp Updated"},"website":{"type":"string"},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"nullable":true}]},"timezone":{"type":"string"},"manager":{"type":"string"},"domain_id":{"type":"string"},"theme_id":{"type":"string"},"logo_url":{"type":"string","nullable":true},"favicon_url":{"type":"string","nullable":true},"folders":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"BulkUpdateClientsRequest":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1},"patch":{"$ref":"#/components/schemas/UpdateClientRequest"}},"required":["ids","patch"]},"ClientResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Client"}},"required":["success","data"]},"CreateClientResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"},"_id":{"type":"string"}},"required":["id","_id"]}},"required":["success","data"]},"CreateClientRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Acme Corp"},"website":{"type":"string","example":"https://acme.com"},"currency":{"$ref":"#/components/schemas/Currency"},"timezone":{"type":"string","example":"America/New_York"},"manager":{"type":"string"},"domain_id":{"type":"string"},"theme_id":{"type":"string"},"folders":{"type":"array","items":{"type":"string"}}},"required":["name","website","currency","timezone"]},"RefreshScreenshotResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"screenshot":{"type":"string","nullable":true}},"required":["screenshot"]}},"required":["success","data"]},"MoveClientToFolderRequest":{"type":"object","properties":{"folders":{"type":"array","items":{"type":"string"},"example":["folderXyz"]}},"required":["folders"]},"Folder":{"type":"object","properties":{"_id":{"type":"string","example":"folderXyz"},"folderName":{"type":"string","example":"Top Clients"},"account_id":{"type":"string","example":"ov:26AbCdEfGhIjKlMnOp"}},"required":["_id","folderName","account_id"]},"ListFoldersResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Folder"}}},"required":["success","data"]},"CreateFolderResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"CreateFolderRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Top Clients"}},"required":["name"]},"UpdateFolderRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"VIP Clients"}},"required":["name"]},"Project":{"type":"object","properties":{"id":{"type":"string","example":"proj123"},"name":{"type":"string","example":"Q1 Report"},"account_id":{"type":"string","example":"ov:26AbCdEfGhIjKlMnOp"},"client_id":{"type":"string"},"type":{"type":"string","example":"REPORT"},"status":{"type":"string"},"nano_id":{"type":"string"},"created_at":{"nullable":true},"is_deleted":{"type":"boolean"},"deleted_at":{"type":"string","nullable":true}},"required":["id","name","account_id"]},"ListProjectsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Project"}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data","meta"]},"BulkDeleteProjectsRequest":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1,"example":["proj123","proj456"]}},"required":["ids"]},"ProjectResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Project"}},"required":["success","data"]},"CreateProjectResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"DateRange":{"type":"object","properties":{"text":{"type":"string","example":"Last 30 Days"},"compare":{"type":"string","example":"None"},"include_today":{"type":"boolean","example":false},"current_start":{"type":"string","example":"2026-03-01"},"current_end":{"type":"string","example":"2026-03-31"},"previous_start":{"type":"string","example":"2026-02-01"},"previous_end":{"type":"string","example":"2026-02-28"},"custom_days":{"type":"number","example":60},"custom_months":{"type":"number","example":3}}},"CreateProjectRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Q1 Report"},"client_id":{"type":"string","example":"cliAbc123"},"type":{"type":"string","example":"REPORT"},"template":{"type":"string"},"template_id":{"type":"string","description":"Clone pages and widgets from this template into the new project"},"pages":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}}},"theme_id":{"type":"string"},"date_range":{"$ref":"#/components/schemas/DateRange"},"logo_url":{"type":"string"},"auto_refresh_enabled":{"type":"boolean"},"show_cover_page":{"type":"boolean"},"show_cover_page_logo":{"type":"boolean"},"show_cover_page_name":{"type":"boolean"},"show_cover_page_date":{"type":"boolean"},"show_cover_page_bg_image":{"type":"boolean"},"show_header":{"type":"boolean"},"show_header_logo":{"type":"boolean"},"show_header_name":{"type":"boolean"},"show_header_date":{"type":"boolean"},"show_page_numbers":{"type":"boolean"},"show_table_of_contents":{"type":"boolean"},"show_date":{"type":"boolean"},"show_thank_you":{"type":"boolean"},"orientation":{"type":"string","enum":["portrait","landscape"]},"description":{"type":"string"},"status":{"type":"string"},"og_image_url":{"type":"string"},"auto_refresh_interval_hours":{"type":"integer","minimum":1,"maximum":24},"password_enabled":{"type":"boolean"},"password":{"type":"string"},"pdf_enabled":{"type":"boolean"}},"required":["name","type","template"]},"UpdateProjectRequest":{"type":"object","properties":{"name":{"type":"string","nullable":true},"theme_id":{"type":"string","nullable":true},"date_range":{"allOf":[{"$ref":"#/components/schemas/DateRange"},{"nullable":true}]},"logo_url":{"type":"string","nullable":true},"auto_refresh_enabled":{"type":"boolean","nullable":true},"show_cover_page":{"type":"boolean","nullable":true},"show_cover_page_logo":{"type":"boolean","nullable":true},"show_cover_page_name":{"type":"boolean","nullable":true},"show_cover_page_date":{"type":"boolean","nullable":true},"show_cover_page_bg_image":{"type":"boolean","nullable":true},"show_header":{"type":"boolean","nullable":true},"show_header_logo":{"type":"boolean","nullable":true},"show_header_name":{"type":"boolean","nullable":true},"show_header_date":{"type":"boolean","nullable":true},"show_page_numbers":{"type":"boolean","nullable":true},"show_table_of_contents":{"type":"boolean","nullable":true},"show_date":{"type":"boolean","nullable":true},"show_thank_you":{"type":"boolean","nullable":true},"orientation":{"type":"string","nullable":true,"enum":["portrait","landscape"]},"pages":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"is_active":{"type":"boolean","nullable":true},"editing":{"type":"boolean","nullable":true},"description":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"og_image_url":{"type":"string","nullable":true},"auto_refresh_interval_hours":{"type":"integer","nullable":true,"minimum":1,"maximum":24},"password_enabled":{"type":"boolean","nullable":true},"password":{"type":"string","nullable":true},"pdf_enabled":{"type":"boolean","nullable":true}}},"DuplicateProjectRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Q1 Report (Copy)"}},"required":["name"]},"SaveWidgetItem":{"type":"object","properties":{"source_type":{"type":"string","nullable":true},"source_id":{"type":"string"},"page_id":{"type":"string","nullable":true},"client_id":{"type":"string","nullable":true},"type":{"type":"string","nullable":true,"enum":["DATA","TEXT","IMAGE","HTML","VIDEO","EMBED","TITLE","BUTTON","GOAL"]},"chart":{"type":"string","nullable":true},"chart_type":{"type":"string","nullable":true},"chart_group":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"text":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"auto_generated_name":{"type":"string","nullable":true},"heading":{"type":"string","nullable":true},"align":{"type":"string","nullable":true},"link":{"type":"string","nullable":true},"link_url":{"type":"string","nullable":true},"image_fit":{"type":"string","nullable":true},"embed_type":{"type":"string","nullable":true},"embed_url":{"type":"string","nullable":true},"embed_iframe":{"type":"string","nullable":true},"embed_html":{"type":"string","nullable":true},"size":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"content":{"type":"string","nullable":true},"src":{"type":"string","nullable":true},"url":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"target":{"type":"string","nullable":true},"image_link_url":{"type":"string","nullable":true},"x":{"type":"number","nullable":true},"y":{"type":"number","nullable":true},"width":{"type":"number","nullable":true},"height":{"type":"number","nullable":true},"is_secondary":{"type":"boolean","nullable":true},"icon_position":{"type":"string","nullable":true},"options_3d":{"type":"boolean","nullable":true},"kpi":{"type":"boolean","nullable":true},"blended":{"type":"boolean","nullable":true},"row_limit":{"type":"string","nullable":true},"sort_order":{"type":"string","nullable":true},"sort_by":{"type":"string","nullable":true},"column_widths":{"type":"object","nullable":true,"additionalProperties":{"type":"number"}},"b_height":{"type":"string","nullable":true},"legend_position":{"type":"string","nullable":true},"invert_y_axis":{"type":"boolean","nullable":true},"show_header":{"type":"boolean","nullable":true},"show_name":{"type":"boolean","nullable":true},"show_icon":{"type":"boolean","nullable":true},"show_date":{"type":"boolean","nullable":true},"show_grid_lines":{"type":"boolean","nullable":true},"show_legends":{"type":"boolean","nullable":true},"show_x_axis":{"type":"boolean","nullable":true},"show_y_axis":{"type":"boolean","nullable":true},"show_trendline":{"type":"boolean","nullable":true},"show_totals":{"type":"boolean","nullable":true},"show_table_filters":{"type":"boolean","nullable":true},"show_logarithmic":{"type":"boolean","nullable":true},"show_multiple_axes":{"type":"boolean","nullable":true},"show_custom_date_range":{"type":"boolean","nullable":true},"show_description":{"type":"boolean","nullable":true},"show_container":{"type":"boolean","nullable":true},"show_label_list":{"type":"boolean","nullable":true},"show_chart":{"type":"boolean","nullable":true},"expand_rows":{"type":"boolean","nullable":true},"datasource_id":{"type":"string","nullable":true},"datasource_type":{"type":"string","nullable":true},"data_view":{"type":"string","nullable":true},"metrics":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"dimensions":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"filters":{"nullable":true},"advanced":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"nullable":true}]},"date_range":{"allOf":[{"$ref":"#/components/schemas/DateRange"},{"nullable":true}]},"current_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"current_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"previous_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"previous_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"series_fetched_at":{"type":"string","nullable":true},"created_at":{"nullable":true},"id":{"type":"string"},"account_id":{"type":"string","nullable":true}},"additionalProperties":false},"VersionSnapshot":{"type":"object","properties":{"pages":{"type":"array","items":{"type":"object","properties":{"page_id":{"type":"string"},"name":{"type":"string"},"position":{"type":"number"},"visible":{"type":"boolean"}},"required":["page_id"]}},"widgets":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/SaveWidgetItem"}}},"project":{"type":"object","additionalProperties":{"nullable":true}}},"required":["pages","widgets","project"]},"ProjectVersion":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"account_id":{"type":"string"},"user_id":{"type":"string"},"is_autosave":{"type":"boolean"},"pinned":{"type":"boolean"},"label":{"type":"string","nullable":true},"snapshot":{"$ref":"#/components/schemas/VersionSnapshot"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"user":{"type":"object","nullable":true,"properties":{"fullname":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"avatar_url":{"type":"string","nullable":true}}}},"required":["id","project_id","account_id","user_id","is_autosave","pinned","label","snapshot","created_at","updated_at"]},"ListProjectVersionsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/ProjectVersion"}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data","meta"]},"ProjectVersionResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/ProjectVersion"}},"required":["success","data"]},"UpdateProjectVersionRequest":{"type":"object","properties":{"label":{"type":"string","nullable":true},"pinned":{"type":"boolean"}}},"RestoreProjectVersionResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"restored_version_id":{"type":"string"}},"required":["restored_version_id"]}},"required":["success","data"]},"Page":{"type":"object","properties":{"page_id":{"type":"string","example":"pg_abc123"},"source_id":{"type":"string"},"source_type":{"type":"string","enum":["project","template"]},"name":{"type":"string","example":"Overview"},"position":{"type":"integer"},"visible":{"type":"boolean"}},"required":["page_id","source_id","source_type","name","position","visible"]},"ListPagesResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Page"}}},"required":["success","data"]},"CreatePageResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"page_id":{"type":"string"}},"required":["page_id"]}},"required":["success","data"]},"CreatePageRequest":{"type":"object","properties":{"source_id":{"type":"string"},"source_type":{"type":"string","enum":["project","template"]},"name":{"type":"string","minLength":1},"position":{"type":"integer"},"visible":{"type":"boolean"}},"required":["source_id","source_type","name"]},"UpdatePageRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"position":{"type":"integer"},"visible":{"type":"boolean"}}},"SearchResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"clients":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"projects":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"client_id":{"type":"string"},"type":{"type":"string"}},"required":["id","name"]}},"users":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fullname":{"type":"string","nullable":true},"email":{"type":"string"}},"required":["id","email"]}},"automations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"api_keys":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"email_addresses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"from_name":{"type":"string","nullable":true},"from_email":{"type":"string"}},"required":["id","from_email"]}},"email_templates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"email_domains":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"domains":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"domain":{"type":"string"}},"required":["id","domain"]}}},"required":["clients","projects","users","automations","api_keys","email_addresses","email_templates","email_domains","domains"]}},"required":["success","data"]},"Widget":{"type":"object","properties":{"source_type":{"type":"string","nullable":true},"source_id":{"type":"string","nullable":true},"page_id":{"type":"string","nullable":true},"client_id":{"type":"string","nullable":true},"type":{"type":"string","nullable":true,"enum":["DATA","TEXT","IMAGE","HTML","VIDEO","EMBED","TITLE","BUTTON","GOAL"]},"chart":{"type":"string","nullable":true},"chart_type":{"type":"string","nullable":true},"chart_group":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"text":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"auto_generated_name":{"type":"string","nullable":true},"heading":{"type":"string","nullable":true},"align":{"type":"string","nullable":true},"link":{"type":"string","nullable":true},"link_url":{"type":"string","nullable":true},"image_fit":{"type":"string","nullable":true},"embed_type":{"type":"string","nullable":true},"embed_url":{"type":"string","nullable":true},"embed_iframe":{"type":"string","nullable":true},"embed_html":{"type":"string","nullable":true},"size":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"content":{"type":"string","nullable":true},"src":{"type":"string","nullable":true},"url":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"target":{"type":"string","nullable":true},"image_link_url":{"type":"string","nullable":true},"x":{"type":"number","nullable":true},"y":{"type":"number","nullable":true},"width":{"type":"number","nullable":true},"height":{"type":"number","nullable":true},"is_secondary":{"type":"boolean","nullable":true},"icon_position":{"type":"string","nullable":true},"options_3d":{"type":"boolean","nullable":true},"kpi":{"type":"boolean","nullable":true},"blended":{"type":"boolean","nullable":true},"row_limit":{"type":"string","nullable":true},"sort_order":{"type":"string","nullable":true},"sort_by":{"type":"string","nullable":true},"column_widths":{"type":"object","nullable":true,"additionalProperties":{"type":"number"}},"b_height":{"type":"string","nullable":true},"legend_position":{"type":"string","nullable":true},"invert_y_axis":{"type":"boolean","nullable":true},"show_header":{"type":"boolean","nullable":true},"show_name":{"type":"boolean","nullable":true},"show_icon":{"type":"boolean","nullable":true},"show_date":{"type":"boolean","nullable":true},"show_grid_lines":{"type":"boolean","nullable":true},"show_legends":{"type":"boolean","nullable":true},"show_x_axis":{"type":"boolean","nullable":true},"show_y_axis":{"type":"boolean","nullable":true},"show_trendline":{"type":"boolean","nullable":true},"show_totals":{"type":"boolean","nullable":true},"show_table_filters":{"type":"boolean","nullable":true},"show_logarithmic":{"type":"boolean","nullable":true},"show_multiple_axes":{"type":"boolean","nullable":true},"show_custom_date_range":{"type":"boolean","nullable":true},"show_description":{"type":"boolean","nullable":true},"show_container":{"type":"boolean","nullable":true},"show_label_list":{"type":"boolean","nullable":true},"show_chart":{"type":"boolean","nullable":true},"expand_rows":{"type":"boolean","nullable":true},"datasource_id":{"type":"string","nullable":true},"datasource_type":{"type":"string","nullable":true},"data_view":{"type":"string","nullable":true},"metrics":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"dimensions":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"filters":{"nullable":true},"advanced":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"nullable":true}]},"date_range":{"allOf":[{"$ref":"#/components/schemas/DateRange"},{"nullable":true}]},"current_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"current_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"previous_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"previous_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"series_fetched_at":{"type":"string","nullable":true},"created_at":{"nullable":true},"id":{"type":"string","example":"widget123"},"account_id":{"type":"string","example":"ov:26AbCd"}},"required":["id","account_id"]},"ListWidgetsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Widget"}}},"required":["success","data"]},"CreateWidgetsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"inserted_count":{"type":"number"},"upserted_count":{"type":"number"}},"required":["inserted_count","upserted_count"]}},"required":["success","data"]},"CreateWidgetItem":{"type":"object","properties":{"source_type":{"type":"string","nullable":true},"source_id":{"type":"string","nullable":true},"page_id":{"type":"string","nullable":true},"client_id":{"type":"string","nullable":true},"type":{"type":"string","nullable":true,"enum":["DATA","TEXT","IMAGE","HTML","VIDEO","EMBED","TITLE","BUTTON","GOAL"]},"chart":{"type":"string","nullable":true},"chart_type":{"type":"string","nullable":true},"chart_group":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"text":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"auto_generated_name":{"type":"string","nullable":true},"heading":{"type":"string","nullable":true},"align":{"type":"string","nullable":true},"link":{"type":"string","nullable":true},"link_url":{"type":"string","nullable":true},"image_fit":{"type":"string","nullable":true},"embed_type":{"type":"string","nullable":true},"embed_url":{"type":"string","nullable":true},"embed_iframe":{"type":"string","nullable":true},"embed_html":{"type":"string","nullable":true},"size":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"content":{"type":"string","nullable":true},"src":{"type":"string","nullable":true},"url":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"target":{"type":"string","nullable":true},"image_link_url":{"type":"string","nullable":true},"x":{"type":"number","nullable":true},"y":{"type":"number","nullable":true},"width":{"type":"number","nullable":true},"height":{"type":"number","nullable":true},"is_secondary":{"type":"boolean","nullable":true},"icon_position":{"type":"string","nullable":true},"options_3d":{"type":"boolean","nullable":true},"kpi":{"type":"boolean","nullable":true},"blended":{"type":"boolean","nullable":true},"row_limit":{"type":"string","nullable":true},"sort_order":{"type":"string","nullable":true},"sort_by":{"type":"string","nullable":true},"column_widths":{"type":"object","nullable":true,"additionalProperties":{"type":"number"}},"b_height":{"type":"string","nullable":true},"legend_position":{"type":"string","nullable":true},"invert_y_axis":{"type":"boolean","nullable":true},"show_header":{"type":"boolean","nullable":true},"show_name":{"type":"boolean","nullable":true},"show_icon":{"type":"boolean","nullable":true},"show_date":{"type":"boolean","nullable":true},"show_grid_lines":{"type":"boolean","nullable":true},"show_legends":{"type":"boolean","nullable":true},"show_x_axis":{"type":"boolean","nullable":true},"show_y_axis":{"type":"boolean","nullable":true},"show_trendline":{"type":"boolean","nullable":true},"show_totals":{"type":"boolean","nullable":true},"show_table_filters":{"type":"boolean","nullable":true},"show_logarithmic":{"type":"boolean","nullable":true},"show_multiple_axes":{"type":"boolean","nullable":true},"show_custom_date_range":{"type":"boolean","nullable":true},"show_description":{"type":"boolean","nullable":true},"show_container":{"type":"boolean","nullable":true},"show_label_list":{"type":"boolean","nullable":true},"show_chart":{"type":"boolean","nullable":true},"expand_rows":{"type":"boolean","nullable":true},"datasource_id":{"type":"string","nullable":true},"datasource_type":{"type":"string","nullable":true},"data_view":{"type":"string","nullable":true},"metrics":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"dimensions":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"filters":{"nullable":true},"advanced":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"nullable":true}]},"date_range":{"allOf":[{"$ref":"#/components/schemas/DateRange"},{"nullable":true}]},"current_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"current_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"previous_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"previous_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"series_fetched_at":{"type":"string","nullable":true},"created_at":{"nullable":true},"id":{"type":"string"},"account_id":{"type":"string","nullable":true}},"required":["id"],"additionalProperties":false},"CreateWidgetsRequest":{"type":"object","properties":{"widgets":{"type":"array","items":{"$ref":"#/components/schemas/CreateWidgetItem"},"minItems":1},"source_type":{"type":"string","example":"project"},"source_id":{"type":"string","example":"proj123"},"client_id":{"type":"string"},"page_id":{"type":"string"},"account_id":{"type":"string"}},"required":["widgets","source_type","source_id","client_id","page_id"]},"WidgetResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Widget"}},"required":["success","data"]},"UpdateWidgetRequest":{"type":"object","properties":{"source_type":{"type":"string","nullable":true},"source_id":{"type":"string","nullable":true},"page_id":{"type":"string","nullable":true},"client_id":{"type":"string","nullable":true},"type":{"type":"string","nullable":true,"enum":["DATA","TEXT","IMAGE","HTML","VIDEO","EMBED","TITLE","BUTTON","GOAL"]},"chart":{"type":"string","nullable":true},"chart_type":{"type":"string","nullable":true},"chart_group":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"text":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"auto_generated_name":{"type":"string","nullable":true},"heading":{"type":"string","nullable":true},"align":{"type":"string","nullable":true},"link":{"type":"string","nullable":true},"link_url":{"type":"string","nullable":true},"image_fit":{"type":"string","nullable":true},"embed_type":{"type":"string","nullable":true},"embed_url":{"type":"string","nullable":true},"embed_iframe":{"type":"string","nullable":true},"embed_html":{"type":"string","nullable":true},"size":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"content":{"type":"string","nullable":true},"src":{"type":"string","nullable":true},"url":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"target":{"type":"string","nullable":true},"image_link_url":{"type":"string","nullable":true},"x":{"type":"number","nullable":true},"y":{"type":"number","nullable":true},"width":{"type":"number","nullable":true},"height":{"type":"number","nullable":true},"is_secondary":{"type":"boolean","nullable":true},"icon_position":{"type":"string","nullable":true},"options_3d":{"type":"boolean","nullable":true},"kpi":{"type":"boolean","nullable":true},"blended":{"type":"boolean","nullable":true},"row_limit":{"type":"string","nullable":true},"sort_order":{"type":"string","nullable":true},"sort_by":{"type":"string","nullable":true},"column_widths":{"type":"object","nullable":true,"additionalProperties":{"type":"number"}},"b_height":{"type":"string","nullable":true},"legend_position":{"type":"string","nullable":true},"invert_y_axis":{"type":"boolean","nullable":true},"show_header":{"type":"boolean","nullable":true},"show_name":{"type":"boolean","nullable":true},"show_icon":{"type":"boolean","nullable":true},"show_date":{"type":"boolean","nullable":true},"show_grid_lines":{"type":"boolean","nullable":true},"show_legends":{"type":"boolean","nullable":true},"show_x_axis":{"type":"boolean","nullable":true},"show_y_axis":{"type":"boolean","nullable":true},"show_trendline":{"type":"boolean","nullable":true},"show_totals":{"type":"boolean","nullable":true},"show_table_filters":{"type":"boolean","nullable":true},"show_logarithmic":{"type":"boolean","nullable":true},"show_multiple_axes":{"type":"boolean","nullable":true},"show_custom_date_range":{"type":"boolean","nullable":true},"show_description":{"type":"boolean","nullable":true},"show_container":{"type":"boolean","nullable":true},"show_label_list":{"type":"boolean","nullable":true},"show_chart":{"type":"boolean","nullable":true},"expand_rows":{"type":"boolean","nullable":true},"datasource_id":{"type":"string","nullable":true},"datasource_type":{"type":"string","nullable":true},"data_view":{"type":"string","nullable":true},"metrics":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"dimensions":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"filters":{"nullable":true},"advanced":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"nullable":true}]},"date_range":{"allOf":[{"$ref":"#/components/schemas/DateRange"},{"nullable":true}]},"current_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"current_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"previous_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"previous_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"series_fetched_at":{"type":"string","nullable":true},"created_at":{"nullable":true}},"additionalProperties":false},"BulkUpdateWidgetsRequest":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1},"patch":{"type":"object","properties":{"source_type":{"type":"string","nullable":true},"source_id":{"type":"string","nullable":true},"page_id":{"type":"string","nullable":true},"client_id":{"type":"string","nullable":true},"type":{"type":"string","nullable":true,"enum":["DATA","TEXT","IMAGE","HTML","VIDEO","EMBED","TITLE","BUTTON","GOAL"]},"chart":{"type":"string","nullable":true},"chart_type":{"type":"string","nullable":true},"chart_group":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"text":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"auto_generated_name":{"type":"string","nullable":true},"heading":{"type":"string","nullable":true},"align":{"type":"string","nullable":true},"link":{"type":"string","nullable":true},"link_url":{"type":"string","nullable":true},"image_fit":{"type":"string","nullable":true},"embed_type":{"type":"string","nullable":true},"embed_url":{"type":"string","nullable":true},"embed_iframe":{"type":"string","nullable":true},"embed_html":{"type":"string","nullable":true},"size":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"content":{"type":"string","nullable":true},"src":{"type":"string","nullable":true},"url":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"target":{"type":"string","nullable":true},"image_link_url":{"type":"string","nullable":true},"x":{"type":"number","nullable":true},"y":{"type":"number","nullable":true},"width":{"type":"number","nullable":true},"height":{"type":"number","nullable":true},"is_secondary":{"type":"boolean","nullable":true},"icon_position":{"type":"string","nullable":true},"options_3d":{"type":"boolean","nullable":true},"kpi":{"type":"boolean","nullable":true},"blended":{"type":"boolean","nullable":true},"row_limit":{"type":"string","nullable":true},"sort_order":{"type":"string","nullable":true},"sort_by":{"type":"string","nullable":true},"column_widths":{"type":"object","nullable":true,"additionalProperties":{"type":"number"}},"b_height":{"type":"string","nullable":true},"legend_position":{"type":"string","nullable":true},"invert_y_axis":{"type":"boolean","nullable":true},"show_header":{"type":"boolean","nullable":true},"show_name":{"type":"boolean","nullable":true},"show_icon":{"type":"boolean","nullable":true},"show_date":{"type":"boolean","nullable":true},"show_grid_lines":{"type":"boolean","nullable":true},"show_legends":{"type":"boolean","nullable":true},"show_x_axis":{"type":"boolean","nullable":true},"show_y_axis":{"type":"boolean","nullable":true},"show_trendline":{"type":"boolean","nullable":true},"show_totals":{"type":"boolean","nullable":true},"show_table_filters":{"type":"boolean","nullable":true},"show_logarithmic":{"type":"boolean","nullable":true},"show_multiple_axes":{"type":"boolean","nullable":true},"show_custom_date_range":{"type":"boolean","nullable":true},"show_description":{"type":"boolean","nullable":true},"show_container":{"type":"boolean","nullable":true},"show_label_list":{"type":"boolean","nullable":true},"show_chart":{"type":"boolean","nullable":true},"expand_rows":{"type":"boolean","nullable":true},"datasource_id":{"type":"string","nullable":true},"datasource_type":{"type":"string","nullable":true},"data_view":{"type":"string","nullable":true},"metrics":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"dimensions":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"filters":{"nullable":true},"advanced":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"nullable":true}]},"date_range":{"allOf":[{"$ref":"#/components/schemas/DateRange"},{"nullable":true}]},"current_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"current_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"previous_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"previous_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"series_fetched_at":{"type":"string","nullable":true},"created_at":{"nullable":true}},"additionalProperties":false}},"required":["ids","patch"]},"BulkEachWidgetsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"updated_count":{"type":"number"}},"required":["updated_count"]}},"required":["success","data"]},"BulkEachWidgetsRequest":{"type":"object","properties":{"updates":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"patch":{"type":"object","properties":{"source_type":{"type":"string","nullable":true},"source_id":{"type":"string","nullable":true},"page_id":{"type":"string","nullable":true},"client_id":{"type":"string","nullable":true},"type":{"type":"string","nullable":true,"enum":["DATA","TEXT","IMAGE","HTML","VIDEO","EMBED","TITLE","BUTTON","GOAL"]},"chart":{"type":"string","nullable":true},"chart_type":{"type":"string","nullable":true},"chart_group":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"text":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"auto_generated_name":{"type":"string","nullable":true},"heading":{"type":"string","nullable":true},"align":{"type":"string","nullable":true},"link":{"type":"string","nullable":true},"link_url":{"type":"string","nullable":true},"image_fit":{"type":"string","nullable":true},"embed_type":{"type":"string","nullable":true},"embed_url":{"type":"string","nullable":true},"embed_iframe":{"type":"string","nullable":true},"embed_html":{"type":"string","nullable":true},"size":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"content":{"type":"string","nullable":true},"src":{"type":"string","nullable":true},"url":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"target":{"type":"string","nullable":true},"image_link_url":{"type":"string","nullable":true},"x":{"type":"number","nullable":true},"y":{"type":"number","nullable":true},"width":{"type":"number","nullable":true},"height":{"type":"number","nullable":true},"is_secondary":{"type":"boolean","nullable":true},"icon_position":{"type":"string","nullable":true},"options_3d":{"type":"boolean","nullable":true},"kpi":{"type":"boolean","nullable":true},"blended":{"type":"boolean","nullable":true},"row_limit":{"type":"string","nullable":true},"sort_order":{"type":"string","nullable":true},"sort_by":{"type":"string","nullable":true},"column_widths":{"type":"object","nullable":true,"additionalProperties":{"type":"number"}},"b_height":{"type":"string","nullable":true},"legend_position":{"type":"string","nullable":true},"invert_y_axis":{"type":"boolean","nullable":true},"show_header":{"type":"boolean","nullable":true},"show_name":{"type":"boolean","nullable":true},"show_icon":{"type":"boolean","nullable":true},"show_date":{"type":"boolean","nullable":true},"show_grid_lines":{"type":"boolean","nullable":true},"show_legends":{"type":"boolean","nullable":true},"show_x_axis":{"type":"boolean","nullable":true},"show_y_axis":{"type":"boolean","nullable":true},"show_trendline":{"type":"boolean","nullable":true},"show_totals":{"type":"boolean","nullable":true},"show_table_filters":{"type":"boolean","nullable":true},"show_logarithmic":{"type":"boolean","nullable":true},"show_multiple_axes":{"type":"boolean","nullable":true},"show_custom_date_range":{"type":"boolean","nullable":true},"show_description":{"type":"boolean","nullable":true},"show_container":{"type":"boolean","nullable":true},"show_label_list":{"type":"boolean","nullable":true},"show_chart":{"type":"boolean","nullable":true},"expand_rows":{"type":"boolean","nullable":true},"datasource_id":{"type":"string","nullable":true},"datasource_type":{"type":"string","nullable":true},"data_view":{"type":"string","nullable":true},"metrics":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"dimensions":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"filters":{"nullable":true},"advanced":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"currency":{"allOf":[{"$ref":"#/components/schemas/Currency"},{"nullable":true}]},"date_range":{"allOf":[{"$ref":"#/components/schemas/DateRange"},{"nullable":true}]},"current_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"current_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"previous_data":{"type":"array","nullable":true,"items":{"type":"object","additionalProperties":{"nullable":true}}},"previous_summary":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"series_fetched_at":{"type":"string","nullable":true},"created_at":{"nullable":true}},"additionalProperties":false}},"required":["id","patch"]},"minItems":1}},"required":["updates"]},"DuplicateWidgetsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"duplicated_count":{"type":"number"},"widget_ids":{"type":"array","items":{"type":"string"}}},"required":["duplicated_count","widget_ids"]}},"required":["success","data"]},"DuplicateWidgetsRequest":{"type":"object","properties":{"pairs":{"type":"array","items":{"type":"object","properties":{"source_id":{"type":"string"},"new_id":{"type":"string"},"y_offset":{"type":"number"}},"required":["source_id","new_id"]},"minItems":1}},"required":["pairs"]},"BulkDeleteWidgetsRequest":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1,"example":["widget1","widget2"]}},"required":["ids"]},"RefreshWidgetsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"accepted":{"type":"boolean"}},"required":["accepted"]}},"required":["success","data"]},"RefreshWidgetsRequest":{"type":"object","properties":{"widget_ids":{"type":"array","items":{"type":"string"}},"source_id":{"type":"string"},"datasource_id":{"type":"string"},"client_id":{"type":"string"},"date_range":{"type":"object","properties":{"current_start":{"type":"string"},"current_end":{"type":"string"},"previous_start":{"type":"string","nullable":true},"previous_end":{"type":"string","nullable":true}},"required":["current_start","current_end"]},"timezone":{"type":"string"}},"required":["client_id","date_range"]},"DataProxyResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"nullable":true},"meta":{"nullable":true}},"required":["success"]},"DateRangeQuery":{"type":"object","properties":{"current_start":{"type":"string","example":"2026-03-01"},"current_end":{"type":"string","example":"2026-03-31"},"previous_start":{"type":"string","example":"2026-02-01"},"previous_end":{"type":"string","example":"2026-02-28"}},"required":["current_start","current_end"]},"DataFilter":{"type":"object","properties":{"field":{"type":"string"},"operator":{"type":"string"},"value":{"nullable":true}}},"DataQueryRequest":{"type":"object","properties":{"datasource_id":{"type":"string","example":"ga4"},"client_id":{"type":"string","example":"cliAbc123"},"date_range":{"$ref":"#/components/schemas/DateRangeQuery"},"metrics":{"type":"array","items":{"type":"string"},"example":["sessions","pageviews"]},"dimensions":{"type":"array","items":{"type":"string"},"example":["DATE"]},"data_view":{"type":"string","example":"OVERVIEW"},"filters":{"type":"array","items":{"$ref":"#/components/schemas/DataFilter"}},"timezone":{"type":"string","default":"UTC"},"extra":{"type":"object","additionalProperties":{"nullable":true}}},"required":["datasource_id","client_id","date_range","metrics","dimensions","data_view"]},"DataTestRequest":{"type":"object","properties":{"datasource_id":{"type":"string","example":"ga4"},"client_id":{"type":"string","example":"cliAbc123"},"credentials":{"type":"object","additionalProperties":{"nullable":true}}},"required":["datasource_id","client_id"]},"DataAccountsRequest":{"type":"object","properties":{"datasource_id":{"type":"string","example":"ga4"},"client_id":{"type":"string","example":"cliAbc123"},"account_name":{"type":"string"},"params":{"type":"object","additionalProperties":{"nullable":true}}},"required":["datasource_id","client_id"]},"DataResourceRequest":{"type":"object","properties":{"datasource_id":{"type":"string","example":"fb-ads"},"client_id":{"type":"string","example":"cliAbc123"},"resource":{"type":"string","example":"campaigns"},"params":{"type":"object","additionalProperties":{"nullable":true}}},"required":["datasource_id","client_id","resource"]},"CalculatedMetric":{"type":"object","properties":{"id":{"type":"string","example":"metric123"},"name":{"type":"string","example":"CTR"},"formula":{"nullable":true,"example":{"expression":"clicks / impressions * 100"}},"symbol":{"type":"string","example":"%"},"accountid":{"type":"string"},"created_at":{"nullable":true},"updated_at":{"nullable":true}},"required":["id","name","accountid"]},"ListCalculatedMetricsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/CalculatedMetric"}}},"required":["success","data"]},"CreateCalculatedMetricResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"CreateCalculatedMetricRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"CTR"},"formula":{"nullable":true,"example":{"expression":"clicks / impressions * 100"}},"symbol":{"type":"string","example":"%"}},"required":["name","symbol"]},"UpdateCalculatedMetricRequest":{"type":"object","properties":{"name":{"type":"string"},"formula":{"nullable":true},"symbol":{"type":"string"}},"required":["name","symbol"]},"DuplicateCalculatedMetricRequest":{"type":"object","properties":{"new_name":{"type":"string","example":"CTR (Copy)"}},"required":["new_name"]},"Goal":{"type":"object","properties":{"id":{"type":"string","example":"goal_abc123"},"account_id":{"type":"string"},"client_id":{"type":"string","nullable":true},"name":{"type":"string","example":"Q4 Revenue Target"},"description":{"type":"string","nullable":true},"target_value":{"type":"number","example":250000},"operator":{"type":"string","enum":[">=","=","<="],"example":">="},"goal_type":{"type":"string","enum":["static","change"],"example":"static"},"symbol":{"type":"string","nullable":true,"example":"$"},"query":{"nullable":true},"created_at":{"nullable":true},"updated_at":{"nullable":true}},"required":["id","account_id","name","target_value","operator","goal_type"]},"ListGoalsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Goal"}}},"required":["success","data"]},"CreateGoalResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"CreateGoalRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Q4 Revenue Target"},"description":{"type":"string"},"target_value":{"type":"number","example":250000},"operator":{"type":"string","enum":[">=","=","<="],"default":">="},"goal_type":{"type":"string","enum":["static","change"],"default":"static"},"symbol":{"type":"string"},"client_id":{"type":"string"},"query":{"nullable":true}},"required":["name","target_value"]},"UpdateGoalRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string","nullable":true},"target_value":{"type":"number"},"operator":{"type":"string","enum":[">=","=","<="]},"goal_type":{"type":"string","enum":["static","change"]},"symbol":{"type":"string","nullable":true},"client_id":{"type":"string","nullable":true},"query":{"nullable":true}}},"DuplicateGoalRequest":{"type":"object","properties":{"new_name":{"type":"string","example":"Q4 Revenue Target (Copy)"}}},"SavedMetric":{"type":"object","properties":{"id":{"type":"string","example":"savedMetric123"},"name":{"type":"string","example":"Weekly Sessions"},"description":{"type":"string"},"query":{"type":"object","additionalProperties":{"nullable":true}},"accountid":{"type":"string"},"created_at":{"nullable":true},"updated_at":{"nullable":true}},"required":["id","name","accountid"]},"ListSavedMetricsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/SavedMetric"}}},"required":["success","data"]},"CreateSavedMetricResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"CreateSavedMetricRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Weekly Sessions"},"description":{"type":"string"},"query":{"type":"object","additionalProperties":{"nullable":true}}},"required":["name","query"]},"UpdateSavedMetricRequest":{"type":"object","properties":{"name":{"type":"string"},"query":{"type":"object","additionalProperties":{"nullable":true}},"description":{"type":"string"}},"required":["name","query"]},"DuplicateSavedMetricRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Weekly Sessions (Copy)"},"description":{"type":"string"}},"required":["name"]},"CustomDataColumn":{"type":"object","additionalProperties":{"nullable":true}},"CustomDataSummary":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"file_name":{"type":"string","nullable":true},"columns":{"type":"array","items":{"$ref":"#/components/schemas/CustomDataColumn"}},"row_count":{"type":"number"},"file_size":{"type":"number","nullable":true},"created_at":{"nullable":true},"updated_at":{"nullable":true}},"required":["id","name"]},"ListCustomDataResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/CustomDataSummary"}}},"required":["success","data"]},"CustomData":{"type":"object","properties":{"id":{"type":"string","example":"cd123"},"name":{"type":"string","example":"Monthly Revenue"},"file_name":{"type":"string","nullable":true},"accountid":{"type":"string"},"raw_data":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}}},"columns":{"type":"array","items":{"$ref":"#/components/schemas/CustomDataColumn"}},"row_count":{"type":"number"},"file_size":{"type":"number","nullable":true},"created_at":{"nullable":true},"updated_at":{"nullable":true}},"required":["id","name","accountid"]},"CustomDataResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/CustomData"}},"required":["success","data"]},"CreateCustomDataResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"CreateCustomDataRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Monthly Revenue"},"file_name":{"type":"string"},"raw_data":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}},"maxItems":10000},"columns":{"type":"array","items":{"$ref":"#/components/schemas/CustomDataColumn"}},"file_size":{"type":"number"}},"required":["name","file_name","raw_data","columns","file_size"]},"UpdateCustomDataRequest":{"type":"object","properties":{"name":{"type":"string"},"file_name":{"type":"string"},"raw_data":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}},"maxItems":10000},"columns":{"type":"array","items":{"$ref":"#/components/schemas/CustomDataColumn"}},"file_size":{"type":"number"}}},"DuplicateCustomDataResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"DuplicateCustomDataRequest":{"type":"object","properties":{"new_name":{"type":"string","minLength":1,"example":"Monthly Revenue (Copy)"}},"required":["new_name"]},"BillingAccountResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{"nullable":true}}},"required":["success","data"]},"Plan":{"type":"object","properties":{"price":{"type":"object","additionalProperties":{"nullable":true}},"product":{"type":"object","additionalProperties":{"nullable":true}},"tiers":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}}}},"required":["price","product","tiers"]},"ListPlansResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Plan"}}},"required":["success","data"]},"InvoicesResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{"nullable":true}}},"required":["success","data"]},"Auth":{"type":"object","properties":{"id":{"type":"string"},"account_id":{"type":"string"},"datasource_id":{"type":"string"},"name":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true}},"required":["id","account_id","datasource_id"]},"ListAuthsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Auth"}}},"required":["success","data"]},"RenameAuthRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"My Google Account"}},"required":["name"]},"TestAuthResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"connected":{"type":"boolean"},"message":{"type":"string"}},"required":["connected"]}},"required":["success","data"]},"TestAuthRequest":{"type":"object","properties":{"auth_id":{"type":"string","minLength":1,"example":"auth_abc123"},"datasource_id":{"type":"string","minLength":1,"example":"google"}},"required":["auth_id","datasource_id"]},"EmailProvider":{"type":"string","enum":["oviond","resend","smtp"]},"EmailProviderResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"provider":{"$ref":"#/components/schemas/EmailProvider"}},"required":["provider"]}},"required":["success","data"]},"SetEmailProviderRequest":{"type":"object","properties":{"provider":{"$ref":"#/components/schemas/EmailProvider"}},"required":["provider"]},"EmailDomain":{"type":"object","nullable":true,"properties":{"id":{"type":"string"},"account_id":{"type":"string"},"resend_id":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"},"records":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}}},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","account_id","resend_id","name","status","records","created_at","updated_at"]},"EmailDomainResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/EmailDomain"}},"required":["success","data"]},"AddEmailDomainRequest":{"type":"object","properties":{"domain":{"type":"string","minLength":1,"example":"mail.acme.com"}},"required":["domain"]},"EmailSmtpConfig":{"type":"object","nullable":true,"properties":{"id":{"type":"string"},"account_id":{"type":"string"},"host":{"type":"string"},"port":{"type":"integer"},"username":{"type":"string"},"secure":{"type":"boolean"},"from_email":{"type":"string"},"from_name":{"type":"string","nullable":true},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","account_id","host","port","username","secure","from_email","from_name","created_at","updated_at"]},"EmailSmtpResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/EmailSmtpConfig"}},"required":["success","data"]},"UpsertEmailSmtpRequest":{"type":"object","properties":{"host":{"type":"string","minLength":1},"port":{"type":"integer","minimum":1,"maximum":65535},"username":{"type":"string","minLength":1},"password":{"type":"string","minLength":1},"secure":{"type":"boolean","default":true},"from_email":{"type":"string","format":"email"},"from_name":{"type":"string","nullable":true}},"required":["host","port","username","password","from_email"]},"TestEmailSmtpRequest":{"type":"object","properties":{"host":{"type":"string","minLength":1},"port":{"type":"integer","minimum":1,"maximum":65535},"username":{"type":"string","minLength":1},"password":{"type":"string","minLength":1},"secure":{"type":"boolean","default":true},"from_email":{"type":"string","format":"email"},"from_name":{"type":"string","nullable":true}},"required":["host","port","username","password","from_email"]},"EmailSenderSource":{"type":"string","enum":["oviond","resend","smtp"]},"EmailSender":{"type":"object","properties":{"id":{"type":"string"},"account_id":{"type":"string"},"source":{"$ref":"#/components/schemas/EmailSenderSource"},"nickname":{"type":"string","nullable":true},"from_name":{"type":"string"},"from_email":{"type":"string"},"reply_to":{"type":"string","nullable":true},"address":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"is_default":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","source","from_name","from_email"]},"EmailSendersResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"provider":{"$ref":"#/components/schemas/EmailProvider"},"senders":{"type":"array","items":{"$ref":"#/components/schemas/EmailSender"}}},"required":["provider","senders"]}},"required":["success","data"]},"CreateEmailSenderRequest":{"type":"object","properties":{"source":{"type":"string","enum":["resend","smtp"]},"nickname":{"type":"string","nullable":true},"from_name":{"type":"string","minLength":1},"from_email":{"type":"string","format":"email"},"reply_to":{"type":"string","nullable":true,"format":"email"},"address":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"country":{"type":"string","nullable":true}},"required":["source","from_name","from_email"]},"UpdateEmailSenderRequest":{"type":"object","properties":{"source":{"type":"string","enum":["resend","smtp"]},"nickname":{"type":"string","nullable":true},"from_name":{"type":"string","minLength":1},"from_email":{"type":"string","format":"email"},"reply_to":{"type":"string","nullable":true,"format":"email"},"address":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"country":{"type":"string","nullable":true}}},"EmailTemplate":{"type":"object","properties":{"id":{"type":"string"},"account_id":{"type":"string"},"name":{"type":"string"},"subject":{"type":"string"},"message":{"type":"string"},"button_text":{"type":"string","nullable":true},"button_top":{"type":"boolean"},"is_default":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","account_id","name","subject","message","button_top","is_default","created_at","updated_at"]},"EmailTemplateListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/EmailTemplate"}}},"required":["success","data"]},"EmailTemplateResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/EmailTemplate"}},"required":["success","data"]},"CreateEmailTemplateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"subject":{"type":"string","minLength":1},"message":{"type":"string","minLength":1},"button_text":{"type":"string","nullable":true},"button_top":{"type":"boolean","default":false}},"required":["name","subject","message"]},"UpdateEmailTemplateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"subject":{"type":"string","minLength":1},"message":{"type":"string","minLength":1},"button_text":{"type":"string","nullable":true},"button_top":{"type":"boolean","default":false}}},"SendEmailResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"queued":{"type":"boolean","enum":[true]},"job_id":{"type":"string","nullable":true}},"required":["queued","job_id"]}},"required":["success","data"]},"EmailVarContext":{"type":"object","additionalProperties":{"type":"string"},"default":{}},"SendTemplatedEmailRequest":{"type":"object","properties":{"recipients":{"type":"array","items":{"type":"string","format":"email"},"minItems":1,"maxItems":10},"template_id":{"type":"string","minLength":1},"sender_id":{"type":"string","nullable":true},"context":{"$ref":"#/components/schemas/EmailVarContext"},"overrides":{"type":"object","properties":{"subject":{"type":"string"},"message":{"type":"string"},"button_text":{"type":"string"},"button_url":{"type":"string"}}}},"required":["recipients","template_id"]},"SendFreeFormEmailRequest":{"type":"object","properties":{"recipients":{"type":"array","items":{"type":"string","format":"email"},"minItems":1,"maxItems":10},"subject":{"type":"string","minLength":1},"html":{"type":"string","minLength":1},"sender_id":{"type":"string","nullable":true}},"required":["recipients","subject","html"]},"SendEmailRequest":{"anyOf":[{"$ref":"#/components/schemas/SendTemplatedEmailRequest"},{"$ref":"#/components/schemas/SendFreeFormEmailRequest"}]},"EmailLogsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data"]},"MediaItem":{"type":"object","properties":{"id":{"type":"string"},"account_id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"key":{"type":"string"},"mime_type":{"type":"string"},"size":{"type":"number"},"folders":{"type":"array","items":{"type":"string"}},"is_deleted":{"type":"boolean"},"deleted_at":{"type":"string","nullable":true},"created_at":{"nullable":true}},"required":["id","account_id"]},"ListMediaResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/MediaItem"}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data","meta"]},"GroupMediaRequest":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1,"example":["media1","media2"]},"folder_id":{"type":"string","example":"folderAbc"}},"required":["ids","folder_id"]},"UpdateMediaRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"updated-logo.png"}},"required":["name"]},"MediaFolder":{"type":"object","properties":{"id":{"type":"string"},"account_id":{"type":"string"},"name":{"type":"string"},"created_at":{"nullable":true}},"required":["id","account_id","name"]},"ListMediaFoldersResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/MediaFolder"}}},"required":["success","data"]},"CreateMediaFolderResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"CreateMediaFolderRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Client Logos"}},"required":["name"]},"RenameMediaFolderRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Brand Assets"}},"required":["name"]},"AssetTagsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"string"}}},"required":["success","data"]},"Asset":{"type":"object","properties":{"id":{"type":"string"},"account_id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"datasources":{"type":"array","items":{"type":"string"}},"ranking":{"type":"number","nullable":true},"created_at":{"nullable":true},"widgets":{"type":"array","items":{"$ref":"#/components/schemas/Widget"}}},"required":["id","account_id","name"]},"ListAssetsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Asset"}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data","meta"]},"CreateAssetResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"CreateAssetRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"GA4 Traffic Widget"},"description":{"type":"string"},"type":{"type":"string","example":"chart"},"tags":{"type":"array","items":{"type":"string"}},"datasources":{"type":"array","items":{"type":"string"}},"widgets":{"type":"array","items":{"$ref":"#/components/schemas/CreateWidgetItem"}}},"required":["name","type"]},"DuplicateAssetResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"DuplicateAssetRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"GA4 Traffic Widget (copy)"},"description":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}}},"required":["name"]},"AddAssetToPageResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"inserted_count":{"type":"number"},"widget_ids":{"type":"array","items":{"type":"string"}}},"required":["inserted_count","widget_ids"]}},"required":["success","data"]},"AddAssetToPageRequest":{"type":"object","properties":{"source_id":{"type":"string","minLength":1,"description":"Project id to add the asset widgets to"},"page_id":{"type":"string","minLength":1,"description":"Page id to place the widgets on"},"client_id":{"type":"string","nullable":true,"description":"Client id the project belongs to — drives the connectivity → demo decision. Falls back to the project's client when omitted."}},"required":["source_id","page_id"]},"ListAssetWidgetsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Widget"}}},"required":["success","data"]},"GetAssetResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Asset"}},"required":["success","data"]},"UpdateAssetRequest":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"datasources":{"type":"array","items":{"type":"string"}},"ranking":{"type":"number"}}},"GeneratePdfResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"job_id":{"type":"string","example":"pdf_job_abc123"},"message":{"type":"string","example":"PDF generation queued"}},"required":["job_id","message"]}},"required":["success","data"]},"GeneratePdfRequest":{"type":"object","properties":{"project_id":{"type":"string","minLength":1,"example":"proj_abc123"},"client_id":{"type":"string","minLength":1,"example":"client_xyz"},"format":{"type":"string","enum":["A4","Letter"],"example":"A4"},"orientation":{"type":"string","enum":["portrait","landscape"],"example":"portrait"}},"required":["project_id","client_id","format","orientation"]},"PdfStatusResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"job_id":{"type":"string"},"status":{"type":"string","enum":["pending","processing","complete","failed"]},"url":{"type":"string","example":"https://s3.amazonaws.com/bucket/pdf/project.pdf"},"error":{"type":"string"}},"required":["job_id","status"]}},"required":["success","data"]},"Export":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"account_id":{"type":"string"},"name":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"queued":{"type":"boolean","nullable":true},"opened":{"type":"boolean","nullable":true},"pdf_url":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"created_at":{"nullable":true}},"required":["id","project_id","account_id"]},"ListExportsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Export"}}},"required":["success","data"]},"Template":{"type":"object","properties":{"id":{"type":"string"},"account_id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"ranking":{"type":"number"},"datasources":{"type":"array","items":{"type":"string"}},"thumbnail":{"type":"string"},"date_range":{"$ref":"#/components/schemas/DateRange"},"theme_id":{"type":"string","nullable":true},"logo_url":{"type":"string","nullable":true},"orientation":{"type":"string","enum":["portrait","landscape"]},"show_cover_page":{"type":"boolean","nullable":true},"show_cover_page_logo":{"type":"boolean","nullable":true},"show_cover_page_name":{"type":"boolean","nullable":true},"show_cover_page_date":{"type":"boolean","nullable":true},"show_cover_page_bg_image":{"type":"boolean","nullable":true},"show_header":{"type":"boolean","nullable":true},"show_header_logo":{"type":"boolean","nullable":true},"show_header_name":{"type":"boolean","nullable":true},"show_header_date":{"type":"boolean","nullable":true},"show_page_numbers":{"type":"boolean","nullable":true},"show_table_of_contents":{"type":"boolean","nullable":true},"show_date":{"type":"boolean","nullable":true},"show_thank_you":{"type":"boolean","nullable":true},"created_at":{"nullable":true}},"required":["id","account_id","name"]},"ListTemplatesResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Template"}},"meta":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["page","limit","total"]}},"required":["success","data","meta"]},"TemplateResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Template"}},"required":["success","data"]},"CreateTemplateResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"CreateTemplateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Monthly SEO Report"},"project_id":{"type":"string","description":"Copy pages/widgets from this project"},"type":{"type":"string","description":"Defaults to the source project's type when omitted"},"description":{"type":"string"},"thumbnail":{"type":"string"},"ranking":{"type":"number"}},"required":["name","project_id"]},"UpdateTemplateRequest":{"type":"object","properties":{"name":{"type":"string"},"thumbnail":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"},"ranking":{"type":"number"}}},"BulkDeleteTemplatesRequest":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["ids"]},"CoverPageConfig":{"type":"object","nullable":true,"properties":{"bg_image_url":{"type":"string","nullable":true},"title":{"type":"string"},"subtitle":{"type":"string"},"widgets":{"type":"array","items":{"nullable":true},"default":[]}}},"ThankYouPageConfig":{"type":"object","nullable":true,"properties":{"bg_image_url":{"type":"string","nullable":true},"title":{"type":"string"},"subtitle":{"type":"string"},"widgets":{"type":"array","items":{"nullable":true},"default":[]}}},"Theme":{"type":"object","properties":{"id":{"type":"string"},"account_id":{"type":"string"},"name":{"type":"string"},"primary_color":{"type":"string"},"brand_palette":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}},"font":{"type":"string"},"radius":{"type":"string"},"shadow":{"type":"string"},"cover_page":{"$ref":"#/components/schemas/CoverPageConfig"},"thank_you_page":{"$ref":"#/components/schemas/ThankYouPageConfig"},"is_default":{"type":"boolean"},"created_at":{"nullable":true}},"required":["id","account_id","name"]},"ListThemesResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Theme"}}},"required":["success","data"]},"ThemeResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Theme"}},"required":["success","data"]},"CreateThemeResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["success","data"]},"CreateThemeRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Dark Corporate"},"primary_color":{"type":"string"},"font":{"type":"string"},"radius":{"type":"string"},"shadow":{"type":"string","enum":["none","sm","md","lg"]},"cover_page":{"$ref":"#/components/schemas/CoverPageConfig"},"thank_you_page":{"$ref":"#/components/schemas/ThankYouPageConfig"},"is_default":{"type":"boolean"}},"required":["name","primary_color"]},"UpdateThemeRequest":{"type":"object","properties":{"name":{"type":"string"},"primary_color":{"type":"string"},"font":{"type":"string"},"radius":{"type":"string"},"shadow":{"type":"string","enum":["none","sm","md","lg"]},"cover_page":{"$ref":"#/components/schemas/CoverPageConfig"},"thank_you_page":{"$ref":"#/components/schemas/ThankYouPageConfig"},"is_default":{"type":"boolean"}}},"Automation":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"parent_id":{"type":"string"},"template_id":{"type":"string"},"sender_id":{"type":"string"},"frequency":{"type":"string"},"day":{"type":"string","nullable":true},"hours":{"type":"string"},"minutes":{"type":"string"},"timezone":{"type":"string"},"recipients":{"type":"array","items":{"type":"string"}},"paused":{"type":"boolean"},"time_format":{"type":"string","nullable":true},"date_text":{"type":"string","nullable":true},"last_run_status":{"type":"string","nullable":true},"last_run_at":{"type":"string","nullable":true},"next_run_at":{"type":"string","nullable":true},"is_deleted":{"type":"boolean"},"deleted_at":{"type":"string","nullable":true},"created_at":{"nullable":true}},"required":["id","parent_id","template_id","sender_id","timezone","recipients"]},"ListAutomationsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Automation"}}},"required":["success","data"]},"AutomationHistoryResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}}}},"required":["success","data"]},"CreateAutomationResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"automation_id":{"type":"string"},"template_id":{"type":"string"}},"required":["automation_id","template_id"]}},"required":["success","data"]},"CreateAutomationRequest":{"type":"object","properties":{"parent_id":{"type":"string","minLength":1,"description":"Project ID this automation belongs to"},"name":{"type":"string"},"frequency":{"type":"string","enum":["daily","weekly","monthly"],"example":"weekly"},"day":{"type":"string","example":"monday"},"hours":{"type":"string","example":"9"},"minutes":{"type":"string","example":"00"},"timezone":{"type":"string","example":"America/New_York"},"time_format":{"type":"string"},"recipients":{"type":"array","items":{"type":"string","format":"email"},"minItems":1},"template_id":{"type":"string","minLength":1,"description":"Saved email template id, or the literal \"custom\" to use the inline payload"},"sender_id":{"type":"string","minLength":1,"description":"Saved email sender id"},"custom":{"type":"object","properties":{"subject":{"type":"string","minLength":1},"message":{"type":"string","minLength":1},"button_text":{"type":"string","nullable":true},"button_top":{"type":"boolean"}},"required":["subject","message"],"description":"Required when template_id === \"custom\" — inline subject + message"},"date_text":{"type":"string"}},"required":["parent_id","name","frequency","hours","minutes","timezone","recipients","template_id","sender_id","date_text"]},"UpdateAutomationRequest":{"type":"object","properties":{"name":{"type":"string"},"frequency":{"type":"string","enum":["daily","weekly","monthly"]},"hours":{"type":"string"},"minutes":{"type":"string"},"timezone":{"type":"string"},"time_format":{"type":"string"},"recipients":{"type":"array","items":{"type":"string","format":"email"}},"template_id":{"type":"string"},"sender_id":{"type":"string"},"custom":{"type":"object","properties":{"subject":{"type":"string","minLength":1},"message":{"type":"string","minLength":1},"button_text":{"type":"string","nullable":true},"button_top":{"type":"boolean"}},"required":["subject","message"]},"date_text":{"type":"string"},"day":{"type":"string"}}},"TestAutomationResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{"nullable":true}}},"required":["success","data"]},"TestAutomationRequest":{"type":"object","properties":{"recipients":{"type":"array","items":{"type":"string","format":"email"},"example":["test@example.com"]}}},"ArchiveBulkBody":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1},"type":{"type":"string","enum":["clients","projects","media","automations","templates"]}},"required":["ids","type"]},"BulkDeleteNotificationsRequest":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["ids"]}},"parameters":{}},"paths":{"/v1/health":{"get":{"tags":["Health"],"summary":"Health Check","security":[],"responses":{"200":{"description":"Service is healthy or degraded","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["healthy","degraded","unhealthy"]},"timestamp":{"type":"string"},"uptime":{"type":"number"},"version":{"type":"string"},"checks":{"type":"object","properties":{"supabase":{"type":"boolean"}},"required":["supabase"]}},"required":["status","timestamp","uptime","version","checks"]}}}}}}},"/v1/onboarding":{"post":{"tags":["Onboarding"],"summary":"Complete Onboarding","description":"Single-call onboarding: creates accounts, users, branding, theme, first client, first project (all in one transaction-like sequence). Idempotent — if the caller is already onboarded, returns their existing ids.","security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingRequest"}}}},"responses":{"200":{"description":"Already onboarded (idempotent)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingResponse"}}}},"201":{"description":"Freshly onboarded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingResponse"}}}}}}},"/v1/users/me":{"get":{"tags":["Users"],"summary":"Get User","description":"Get the currently authenticated user profile.","responses":{"200":{"description":"Current user profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeResponse"}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/v1/users/me/profile":{"put":{"tags":["Users"],"summary":"Update Profile","description":"Update the current user profile name, language, and theme.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}}},"responses":{"200":{"description":"Profile updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/v1/users/me/avatar":{"put":{"tags":["Users"],"summary":"Update Avatar","description":"Update the current user profile picture.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAvatarRequest"}}}},"responses":{"200":{"description":"Avatar updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/v1/users/me/email":{"put":{"tags":["Users"],"summary":"Change Email","description":"Change the current user email address.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeEmailRequest"}}}},"responses":{"200":{"description":"Email address updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"409":{"description":"Email already in use","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/v1/users":{"get":{"tags":["Users"],"summary":"List Users","description":"List all team members for the authenticated account.","parameters":[{"schema":{"type":"integer","nullable":true,"minimum":0,"default":0,"example":0},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20,"example":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated list of team members","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListUsersResponse"}}}}}}},"/v1/users/invite":{"post":{"tags":["Users"],"summary":"Invite User","description":"Invite a new user to the account.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteUserRequest"}}}},"responses":{"201":{"description":"User invited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteUserResponse"}}}},"409":{"description":"User already exists","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/v1/users/:id":{"put":{"tags":["Users"],"summary":"Update User","description":"Edit a team member (role, assigned clients, name).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditUserRequest"}}}},"responses":{"200":{"description":"User updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"403":{"description":"Cannot edit a user from a different account","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"delete":{"tags":["Users"],"summary":"Delete User","description":"Remove a team member from the account.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"User removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"403":{"description":"Cannot remove owner or user from a different account","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/v1/users/accept-invite":{"post":{"tags":["Users"],"summary":"Accept Invite","description":"Called by the frontend after a freshly-invited user completes Supabase Auth callback. Notifies the inviter.","responses":{"200":{"description":"Invite finalised","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}}}}},"/v1/account":{"get":{"tags":["Account"],"summary":"Get Account","description":"Get the accounts row for the current account","responses":{"200":{"description":"Account document","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"delete":{"tags":["Account"],"summary":"Delete Account","description":"Irreversible. Cancels the active Stripe subscription, deletes all data across every table for this account, removes all team members from the users table, purges all S3 media files, and deletes all Supabase Auth users. Requires the account owner's current password as a confirmation gate.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAccountRequest"}}}},"responses":{"200":{"description":"Account deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAccountResponse"}}
[...]
